<h1><%= project.name %></h1>
<h5>About: <%= project.about %></h5>
<p>Description: <%= project.description %></p>

<a href="/project/edit/<%= project.id %>">
    <button type="button">Edit</button>
</a>

<a href="/project/delete/<%= project.id %>">
    <button type="button">Destroy</button>
</a>