<h1><%= project.name %></h1>
<h5>About: <%= project.about %></h5>
<p>Description: <%= project.description %></p>

<a href="/project/edit/<%= project.id %>">
    <button type="button" class="btn btn-warning">Edit</button>
</a>

<form role="form" action="/project/delete/<%= project.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-danger">Destroy</button>
</form>