<div class="row main">
    <div class="col-lg-12">
        <div class="section-block">
            <h2><%= blog.title %></h4>
            <p><%= blog.content %></p>
            <p>Tags: <%= blog.tags %></p>
            <form role="form" action="/blog/edit/<%= blog.id %>">
                <button type="submit" class="btn btn-warning">Edit</button>
            </form>
            <form role="form" action="/blog/delete/<%= blog.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" class="btn btn-danger">Destroy</button>
            </form>
        </div>
    </div> <!-- end of div col-lg-12 -->
</div>